@charset "UTF-8";
/* CSS Document */

/*This here is the css for all of the menus on the website. All styles for any access type of menu; which is to say: all links that are part of a navigation hub that is made of buttons and not part of the regular list links found elsewhere.*/
 
#access{
	height: auto;
	width: 800px;
	height: 30px;
	float:right;
	}
#access li{
	padding-right: 40px;
	display: inline-block;
	height: 30px;
	}
/*-----------------------------------MENUS-------------------------------------*/		
#navbar {
	height: auto;
	width: 960px;
	margin-top: 10px;
	clear: both;
}
#nav {
	height: auto;
	margin: auto;
	}
	
#nav li{
	padding-right: 0px;
	display: inline-block;
	height: 40px;
	}
#nav li:hover{
	background-color: #066;
	border-top-left-radius: 10px 10px;
	border-top-right-radius: 10px 10px;
	}	
#nav li a{
	font-family: "Myriad Web Pro";
	display: inline-block;
	text-decoration: none;
	color: #312d2e;
	height: 40px;
	margin-top: auto;
	margin-bottom: auto;
	font-size: 15px;
	letter-spacing: 2px;
	padding-left: 18px;
	padding-right: 18px;
	}
#nav li a:hover{
	color: #fff;
	}
#nav .current_page_item{
	background-color: #302C2D;
	border-top-left-radius: 10px 10px;
	border-top-right-radius: 10px 10px;	
	}
#nav .current_page_item a{
	color: #fff;
	}			
.widget_pages ul li.current_page_item a{
	color: #C72436;	
	}
/*------------------------------------------SESSION MENU---------------------------------*/	
#session_menu ul li{
	}
#session_menu ul li a{
	background-color: #CECBC8;
	display: inline-block;
	border-bottom-left-radius: 10px 10px;
	border-bottom-right-radius: 10px 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;	
	}	
#session_menu ul li:hover{
	}
#session_menu ul li a:hover{
	background-color: #066;
	color: #fff;
	}
#session_menu {
	width: 800px;
	height: auto;
	overflow: auto;
	float: left;	
	}	
#session_menu ul {
	margin-top: 0px;
	margin-bottom: 0px;
	float: right;
	}	
#session_menu ul li {
	display: inline-block;
	height: 10px;
	}
/*----------------------------------END SESSION MENU-------------------------------------*/					
	
	
/*-------------------------Left Column Menu-----------------------------*/
div #content_left_column ul {
	/*background-color: #0FC;*/
	height: auto;
	overflow: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;	
	}

div #content_left_column ul li a{
	/*background-color: #CECBC8;*/
	display: block;
	height: 30px;
	width: 154px;	
	border-top-right-radius: 10px 10px;
	border-bottom-right-radius: 10px 10px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 10px;
	padding-top: 10px;
	}
div #content_left_column ul li a:hover{
	padding-left: 10px;
	padding-top: 10px;
	background-color: #006666;
	display: block;
	height: 30px;
	width: 154px;
	color: #fff;
	}			
#content_left_column .mc_menu li{
	height: 30px;
	width: 154px;
	margin: 0px;
	padding: 0px;
	margin-bottom: 15px;
	display: block;
	}	