@charset "UTF-8";
/* CSS Document */

#content h2 a{
	font-family: "Belizio FB Bold";
	font-size: 28px;
	text-decoration: none;	
	}
div #blogLeft{
	float: left;
	height: auto;
	width: 250px;
}
#blogLeft ul{
	padding: 0px;
	width: 250px;
	text-align: right;
	}
	
div #blogRight{
	float: right;
	height: auto;
	width: 660px;
}	