@charset "UTF-8";
/* CSS Document */

h2{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	font-style: italic;
	color: #333;
	letter-spacing: 1px;
	}
#titlebar h2{
	margin-top: 1px;
	}	
#header{
	width: 960px;
	height: auto;
	background-repeat: no-repeat;
	margin-left: auto;
	margin-right: auto;
	}
#header_wrapper{
	width: 100%;
	height: auto;
	margin-right: 0px;
	margin-left: 0px;
	background-color: #ece8e4;
	margin-top: 0px;
	border-top-width: 5px;
	border-top-style: solid;
	border-top-color: #FAF6F3;
	overflow: auto;
	}	
#content_wrapper{
	height: auto;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	}	
.logo {
	height: 120px;
	width: 152px;
	float: left;
	display: block;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	text-indent: -9999px;
	background-position: 0px -15px;
	margin-bottom: 15px;
	}
a.title{
	}	
.title{
	font-family: "Belizio FB Bold";
	font-size: 36px;
	color: #333;
	text-decoration: none;	
	}
.title:hover {
	color: #4D1C20;
	}		
#titlebar{
	width: 530px;
	height: 75px;
	float: left;
	padding-top: 0px;
	padding-left: 20px;
	position: relative;
	padding-right: 20px;	
	}
	
#messagePage{
	width: 920px;
	height: 31px;
	margin-top: 25px;
	background-color: #252525;
	color: #CCC;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 26px;
	font-style: italic;
	padding: 20px;
	clear: none;	
	}
#content{
	width: 960px;
	height: auto;
	margin-top: 35px;
	margin-bottom: 65px;
	overflow:auto;
	}
#primaryLeft, #primaryRight{
	width: 450px;
	height: auto;
	/*border: 1px dashed #666;*/
	padding: 10px;
	overflow: auto;
	}
#primaryLeft p, #primaryRight p {
	letter-spacing: 0.15em;
	word-spacing: 0.1em;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.5em;
	}			
#primaryLeft{
	float: left;
	}
#primaryRight{
	float: right;
	}
#clear{
	width: 100%;
	height: 286px;
	margin-right: 0px;
	margin-left: 0px;
	clear: both;
	float: none;
	background-image: url(../images/footr_gfx.png);
	background-repeat: repeat-x;
	}		
span {
	font-size: 14px;
	}	
#iconLeft, #iconRight{
	width: 128px;
	height: 128px;
	margin-right: 15px;
	float: left;
	}	
#iconLeft{
	background-image: url(../images/our-firm.png);
	background-repeat: no-repeat;
	}
#iconRight{
	background-image: url(../images/our-lots.png);
	background-repeat: no-repeat;	
	}			
#primaryLeft ul, #primaryRight ul{
	width: 450px;
	clear: both;
	padding-left: 0px;
	}
#primaryLeft ul li, #primaryRight ul li{
	display: inline-block;
	}	
#primaryLeft ul li a, #primaryRight ul li a{
	margin-right: 10px;
	text-decoration: none;
	font-size: 14px;
	}	
	