@charset "UTF-8";
/* CSS Document */

#gallery_wrapper {
	width: 900px;
	height: auto;
	background-color: #252525;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 40px;
	padding-left: 30px;
	padding-right: 30px;
	}

#gallery_wrapper h3 {
	width: 830px;
	height: 31px;
	margin-top: 25px;
	background-color: #252525;
	color: #CCC;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 26px;
	font-style: italic;
	padding: 20px;
	clear: none;
	}	
.ngg-gallery-thumbnail{
	padding-right: 10px;
	padding-left: 10px;
	margin-bottom: 10px;		
	}
.ngg-galleryoverview{
	background-color: #252525;		
	}	

