@charset "UTF-8";
/* CSS Document */
/** 
 * Slideshow style rules.
 */
#slideshow {
	margin:0 auto;
	width:960px;
	height:550px;
	position:relative;
	background-image: url(../images/slider/bg_slideshow.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}
#slideshow #slidesContainer {
  margin:0 auto;
  width:850px;
  height:550px;
  overflow:auto; /* allow scrollbar */
  position:relative;
}

/** 
 * Slideshow controls style rules.
 */


/** 
 * Style rules for Demo page
 */
* {
	color:#000;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
}

#pageContainer {
  margin:0 auto;
  width:800px;
}
#pageContainer h1 {
  display:block;
  width:800px;
  height:114px;
  background:transparent url(../images/slider/bg_pagecontainer_h1.jpg) no-repeat top left;
  text-indent: -10000px;
}
.slide{
	width:800px; /* reduce by 20 pixels of #slidesContainer to avoid horizontal scroll */
	height:400px;
	}
.slide h2, .slide p {
	width:800px;
	margin-top: 15px;
	margin-bottom: 15px;  
}
.slide h2 {
  font:italic 24px Georgia, "Times New Roman", Times, serif;
  color:#ccc;
  letter-spacing:-1px;
}
.slide img {
  float:left;
  margin:0 15px;
}
#slideinner {
	margin: auto;
	}