@charset "UTF-8";
/* CSS Document */
#menu{
	height: 50px;
	width: 750px;
	margin-top: 0px;
	float: right;
	}	

ul#nav.dropdown, ul#nav.dropdown li, ul#nav.dropdown li a, ul#nav.dropdown li a:hover {
	height: 60px;
	}

ul#nav.dropdown{
	float: right;
	margin: 0;
	margin-right: 6%;
}

ul#nav.dropdown li {
	display: inline-block;
	width: auto;
	}
ul#nav.dropdown li.on a {
	width: auto;
	/*background-color: #F00;*/
	}

ul#nav.dropdown li.off a {
	width: auto;
	/*background-color: #F00;*/
	}	
			
ul#nav.dropdown li:hover{
	background-color: #C00;
	}	
ul#nav.dropdown li a{
	text-decoration: none;
	display: block;
	padding-right: 22px;
	padding-left: 22px;
	color: #333;
	font-size: 14px;
	line-height: 1.8em;
}
ul#nav.dropdown li a:hover{
	color: #FFF;
}

/*property for creating a dropdown menu*/
ul#nav.dropdown li.dir:hover{
	}
